<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" charset="utf-8"></script>
  <script src="assets/javascripts/ajaxTest.js" charset="utf-8"></script>
  <link rel="stylesheet" href="assets/stylesheets/modal.css">
  <title>Document</title>
</head>
<body>
  <button id="req">Lion</button>
  <div class="container"></div>

  <script type="html/template" charset="utf-8" id="modal1">
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p><%= name %></p>
      <p><%= description %></p>
      <p><%= vidURL %></p>
    </div>
  </div>
  </script>

</body>
</html>
