<!DOCTYPE html>
<html>

<head>
	<title>Animal-Aid</title>
	<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">

	<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="assets/stylesheets/normalize.css">
	<link rel="stylesheet" href="assets/stylesheets/skeleton.css">
	<link rel="stylesheet" href="assets/stylesheets/style.css">
	<link rel="stylesheet" href="assets/stylesheets/animals.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="assets/stylesheets/modal.css">
	<!--  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" charset="utf-8"></script>
	<script src="assets/javascripts/jquery.stellar.js"></script>
	<script src="assets/javascripts/jquery.nicescroll.js"></script>
	<script src="assets/javascripts/main.js"></script>
	<script src="https://use.fontawesome.com/64d2b1cfe9.js"></script>

	<!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="/assets/images/backgroundImages/pandafavicon.png">


	<!-- SCRIPTS
  __________________________________________________  -->
</head>

<body>

	<div class="container">

		<progress value="0"></progress>

		<!-- Primary Page Layout
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->

		<!-- BUTTONS -->

		<a href="https://donate.wwf.org.au/campaigns/wwf-donate-once/" target='_blank'>
			<div class="cartDiv">Donate</div>
		</a>
		<i class="fa fa-arrow-circle-up fa-4x scrollIndex upBut" aria-hidden="true"></i>

		<i class="fa fa-tint fa-4x dropBut" aria-hidden="true"></i>
		<i class="fa fa-pagelines fa-4x treeBut" aria-hidden="true"></i>


		<i class="fa fa-arrow-circle-down fa-4x scrollIndex downBut" aria-hidden="true"></i>

		<!-- HEADER -->

		<div class="header"></div>

		<!-- PARALLAX -->

		<div id="parallaxPage" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<ul id="scene" class="scene">

						<li class="layer static" data-depth="0.0"><img src="assets/parallax-master/examples/images/mainbackground.png"></li>
						<li class="layer moon" data-depth="0.10"><img src="assets/parallax-master/examples/images/moonpara.png"></li>

						<li class="layer sun" data-depth="0.1"><img src="assets/parallax-master/examples/images/sunpara.png"></li>

						<li class="layer" data-depth="0.0"><img src="assets/parallax-master/examples/images/mountaintoppara.png"></li>

						<li class="layer" data-depth="0.05"><img src="assets/parallax-master/examples/images/treepara1.png"></li>

						<li class="layer" data-depth="0.05"><img src="assets/parallax-master/examples/images/treepara32.png"></li>

						<li class="layer" data-depth="0.1"><img src="assets/parallax-master/examples/images/star1para.png"></li>
						<li class="layer" data-depth="0.2"><img src="assets/parallax-master/examples/images/star2para.png"></li>
						<li class="layer" data-depth="0.2"><img src="assets/parallax-master/examples/images/star3para.png"></li>
						<li class="layer" data-depth="0.5"><img src="assets/parallax-master/examples/images/star4para.png"></li>
						<li class="layer" data-depth="0.6"><img src="assets/parallax-master/examples/images/star5para.png"></li>


						<li class="layer" data-depth="0.1"><img src="assets/parallax-master/examples/images/oceanwholepara.png"></li>

						<li class="layer" data-depth="0.5"><img src="assets/parallax-master/examples/images/sharkpara2.png"></li>
						<li class="layer" data-depth="0.3"><img src="assets/parallax-master/examples/images/dolphinpara2.png"></li>

						<li class="layer moveIce" data-depth="0.3"><img src="assets/parallax-master/examples/images/penguinpara2.png"></li>
						<li class="layer moveIce" data-depth="0.3"><img src="assets/parallax-master/examples/images/polarpara2.png"></li>

						<li class="layer moveLand" data-depth="0.3"><img src="assets/parallax-master/examples/images/giraffepara.png"></li>
						<li class="layer" data-depth="0.10"><img src="assets/parallax-master/examples/images/tree2para.png"></li>
						<li class="layer moveLand" data-depth="0.3"><img src="assets/parallax-master/examples/images/elephantpara2.png"></li>
						<li class="layer" data-depth="0.15"><img src="assets/parallax-master/examples/images/treepara42.png"></li>

						<li class="layer" data-depth="0.2"><img src="assets/parallax-master/examples/images/wavepara.png"></li>

						<li class="layer" data-depth="0.0"><img src="assets/parallax-master/examples/images/handspara.png"></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- MODALS DIV -->

		<div class="detailModal"></div>

		<!-- ANIMAL PAGES -->

		<div id="animal_1" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Rhino" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Rhino" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_2" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Giraffe" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Giraffe" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_3" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Lion" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Lion" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_4" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Hippopotamus" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Hippopotamus" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_5" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Elephant" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Elephant" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_6" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Tiger" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Tiger" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_7" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Gorilla" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Gorilla" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_8" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Sloth" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Sloth" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_9" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Cheetah" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Cheetah" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_10" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Orangutan" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Orangutan" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_11" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Komodo-Dragon" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Komodo-Dragon" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_12" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Tapir" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Tapir" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_13" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Red-Panda" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Red-Panda" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_14" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Panda" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Panda" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_15" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Snow-Leopard" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Snow-Leopard" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_16" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Penguin" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Penguin" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_17" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Polar-Bear" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Polar-Bear" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_18" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Narwhal" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Narwhal" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_19" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Orca" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Orca" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_20" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Blue-Whale" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Blue-Whale" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_21" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Great-White" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Great-White" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_22" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Galapagos Tortoise" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Galapagos Tortoise" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_23" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Dolphin" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Dolphin" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_24" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Sea-Lion" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Sea-Lion" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<div id="animal_25" class="animalImage" data-stellar-background-ratio="0.4">
			<div class="row">
				<div class="twelve columns">
					<i class="fa fa-info-circle fa-4x infoBut" data-type="Dugong" aria-hidden="true"></i>
					<i class="fa fa-video-camera fa-4x vidBut" data-type="Dugong" aria-hidden="true"></i>
				</div>
			</div>
		</div>

		<a href="#" id="back-to-top" title="Back to top"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a>


		<!-- PARALLAX SCRIPT -->
		<script src="assets/parallax-master/deploy/parallax.js"></script>
		<script>
			// Pretty simple huh?
			var scene = document.getElementById('scene');
			var parallax = new Parallax(scene);
		</script>


		<!-- End Document
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	</div>
	<!-- Container -->

	<!-- MODAL SCRIPTS -->

	<script type="html/template" charset="utf-8" id="modal1">
		<div id="myModalText" class="modal">
			<!-- Modal content -->
			<div class="modal-content">
				<h3><%= name %></h3>
				<p>
					<%= description %>
				</p>
			</div>
		</div>
	</script>

	<script type="html/template" id="modal2" data-type="video">
		<div id="myModalVid" class="modal">
			<!-- Modal content -->
			<div class="modalVideo">
				<iframe class="animalMovie" width="100%" height="100%" src="<%= vidURL %>" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</script>

</body>

</html>
