/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255,255,255,0.4); /* white w/ opacity */
    z-index: 99999999999;
}

/*.modelVideo {
    width: ;
}*/
/* Modal Content/Box */
.modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    background-color: rgba(255,255,255,0.6); /* white w/ opacity */
    /*border-radius: 5px;*/
    z-index: 99999999999;
    /*-webkit-box-shadow: 5px 3px 8px 15px rgba(255,255,255,0.6);
    -moz-box-shadow:    5px 3px 8px 15px rgba(255,255,255,0.6);
    box-shadow:         5px 3px 8px 15px rgba(255,255,255,0.6);*/
    text-align: center;
  /* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]; */
}

.modal-content p {
    font-family: 'Montserrat', sans-serif;
    line-height: 2.5;
}

.modal-content h3 {
    font-family: 'Passion One', cursive;
    /*text-shadow: 1px 2px 4px rgba(0,0,0,0.8);*/
    font-size: 50px;
    margin: 0;
}

/* Modal Content/Box */
.modalVideo {
    margin: 2.5% auto;
    width: 100vw; /* Could be more or less, depending on screen size */
    height: 100vh;
    border-radius: 5px;
    z-index: 99999999999;
    /*-webkit-box-shadow: 5px 3px 8px 15px rgba(0,0,0,0.6);
    -moz-box-shadow:    5px 3px 8px 15px rgba(0,0,0,0.6);
    box-shadow:         5px 3px 8px 15px rgba(0,0,0,0.6);*/
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
